@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    We are the first art club in Romania for passionate people of painting, drawing, music, theater and cinema.
    <br />
    With over 100 locations available, our club is the largest club of its kind in Romania.
    <br />
    Locations can be reserved by both members and visitors of our site.
</p>
