
@{
    ViewBag.Title = "Index";
}

<h2>Add Members</h2>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/AddMembers/Register">Add Members</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AddMembers/ViewRequests">View Requests</a>
    </li>
</ul>